.single-product .row {
    display: flex;
    align-items: flex-start; /* Align items to the start (top) */
}

.single-product .col-2 {
    flex: 1; /* Take equal space */
    padding: 20px;
}

.single-product .col-2 img {
    width: 100%;
    padding: 0;
}

.single-product h1 {
    font-size: 24px;
    margin: 10px 0;
    font-family: sans-serif;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 25px;
}
.single-product .btn:hover{
    background-color: black;
    color: white;
    transition: all .42s ease;
}
.single-product p {
    margin-top: 20px;
    font-family: sans-serif;
}

/* Single product details */
.single-product{
    margin-top: 80px;
}
.single-product col-2 img{
    padding: 0;
}
.col-2 h3{
    font-family: sans-serif;
}
    

.single-product col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 45px;
    height: 35px;
    padding: 8px;
    font-size: 15px;
    margin-right: 10px;
    font-family: sans-serif;
    border: 1px solid black;
}
input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
